<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div style="margin:5%">
        <p>I am a Ph.D. candidate majoring in Epidemiology, seeking a role in health tech or data science from August 2023. I have domain expertise in statistical modeling, data mining, and public health (Epidemiology).<p>Technical data skills: Data analysis, statistics, data visualization, data wrangling, data mining, hypothesis testing</p><p>Data tools and languages: R, python, MySQL</p>
      </div>
      <div style="margin:5%">
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/1TxiV0HIS7oQYwgL2ywL-6SyhNqSmApA3/view?usp=share_link" target= "_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
